/build/
/out/
/vcpkg_installed/
/vcpkg/

CMakeUserPresets.json
compile_commands.json

.idea/
.vscode/*
!.vscode/extensions.json
!.vscode/c_cpp_properties.json
!.vscode/settings.json
*.suo
*.user

.DS_Store
Thumbs.db
